VITE_USE_LOCALDB=true
VITE_APPWRITE_ENDPOINT=https://your-appwrite-endpoint.com/v1
VITE_APPWRITE_PROJECT_ID=your-project-id
VITE_APPWRITE_PROJECT_NAME=eThekwini Spaza Registration
APPWRITE_API_KEY=your-appwrite-api-key